
/* ABOUT HEADER  */
#aboutHeader .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("images/aboutUs.jpg");
    background-attachment: fixed;
  }
  
  #aboutHeader .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.4); /* Add a background overlay */
  }

  #aboutHeader p {
    font-size: 25px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 50%;
  }

  /* ABOUT - ABOUT US */

  #aboutAboutus .container {
    width: 100%;
    height: auto;
  }

  #aboutAboutus .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #aboutAboutus .content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 30px;
    padding: 40px;
  }



  #aboutAboutus .content-container p {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 20px;
  }

  #aboutAboutus .content-container h1 {
    color: #333333;
    font-size: 25px;
  }

  #aboutAboutus .image-container {
    width: 40%;
    height: auto;
  }