/* Articles Header */

#articlesHeader .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("images/keysTools.png");
  background-attachment: fixed;
}

#articlesHeader .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.1); /* Add a background overlay */
}

#articlesHeader h1 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 50%;
  margin: 30px;
}

#articlesHeader p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 50%;
  }

/* ARTICLES FEATURES */
  