/* Contact Header area */
#contactHeader .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("images/houseLocks.jpg");
    background-attachment: fixed;
  }
  
  #contactHeader .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.1); /* Add a background overlay */
  }

  #contactHeader h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 50%;
    margin: 30px;
  }


  #contactHeader h1::after {
    content: "";
    margin: 45px auto; /* Centers the pseudo-element */
    width: 10%; /* Half the width of the h1 element */
    height: 2px; /* The thickness of your bottom border */
    background-color: #ffffff; /* The color of your bottom border */
    position: absolute;
    top: -1; /* Aligns the pseudo-element to the bottom of the h1 */
    left: 0;
    right: 0;
  }

  #contactHeader p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 50%;
  }


  #contactHeader span {
    font-size: 20px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #ff6600;
    width: 50%;
    margin: 15px;
  }

/* CONTACT FORM AREA */

#contactForm .contactMessageForm button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 300px;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

#contactForm .contactMessageForm button:hover {
  color: black;
  background-color: white;
}
