/* Contact Header area */
#contactHeader .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("images/houseLocks.jpg");
    background-attachment: fixed;
  }
  
  #contactHeader .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.1); /* Add a background overlay */
  }

  #contactHeader h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 50%;
    margin: 30px;
  }


  #contactHeader h1::after {
    content: "";
    margin: 45px auto; /* Centers the pseudo-element */
    width: 10%; /* Half the width of the h1 element */
    height: 2px; /* The thickness of your bottom border */
    background-color: #ffffff; /* The color of your bottom border */
    position: absolute;
    top: -1; /* Aligns the pseudo-element to the bottom of the h1 */
    left: 0;
    right: 0;
  }

  #contactHeader p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 50%;
  }


  #contactHeader span {
    font-size: 25px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #ff6600;
    width: 50%;
    margin: 15px;
  }

/* CONTACT FORM AREA */

#contactForm .contactMessageForm button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 200px;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
  text-align: center;
}

#contactForm .contactMessageForm button:hover {
  color: black;
  background-color: white;
}

#contactForm .contactInfo h1 {
  color: #333333;
  font-size: 30px;
  font-weight: 800;
  margin: 10px;
}

#contactForm .contactInfo h1::after {
  content: "";
  display: block;
  background-color: #ff6600;
  width: 50%; /* Adjust the width of the border */
  height: 2px;
  margin: 10px 0; /* Adjust margin as needed */
  align-self: flex-start; /* Align border to flex start */
}




#contactForm .container  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#contactForm .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#contactForm .container .content .contactInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px;
}


#contactForm .contactInfo h3 {
  color: #333333;
  font-weight: 800;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  margin: 10px;
}


#contactForm .contactInfo span {
  color: #333333;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  margin: 10px;
}


#contactForm .contactInfo .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#contactForm .contactInfo .logos .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
  background: #EFEFEF;
  width: 30px;
  height: 30px; 
  border-radius: 20px;
  padding: 20px;
  color: #ff6600;
  font-size: 17px;
}

.contactMessageForm form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row ;
}

.contactMessageForm form input {
  border: 1px solid black;
  width: 45%;
  margin: 10px;
}

.contactMessageForm form input::placeholder {
  color: #333333;
  padding: 7px;
  font-size: 18px;
}


.contactMessageForm form #name {
  height: 50px;
}


