/* Contact Header area */
#articlesHeader .image-container {
    display: flex;
    

/* CONTACT FORM AREA */

#contactForm .contactMessageForm button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 300px;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

#contactForm .contactMessageForm button:hover {
  color: black;
  background-color: white;
}
