form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Simple box shadow */
}

form input {
    margin: 10px;
    border: none;
    border-bottom: 2px solid #2e2e2e; /* Add a 2px solid border on the bottom */
    width: 80%;
}





form button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 200px;
  color: white;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

form button:hover {
  color: black;
  background-color: white;
}
