form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  background: #ffffff;
}

form input {
  margin: 10px;
}

form button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 200px;
  color: white;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

form button:hover {
  color: black;
  background-color: white;
}
