/* SERVICES HEADER */

#serviceHeader .container {
  width: 100%;
  height: auto;
}

#serviceHeader .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("images/keys.png");
  background-attachment: fixed;
}

#serviceHeader .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.4); /* Add a background overlay */
}

#serviceHeader h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  margin-bottom: 90px;
}
#serviceHeader p {
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  position: absolute;
  text-align: center;
  width: 50%;
  margin-top: 120px;
}

#serviceHeader h1::after {
  content: "";
  margin: -5px auto; /* Centers the pseudo-element */
  width: 10%; /* Half the width of the h1 element */
  height: 2px; /* The thickness of your bottom border */
  background-color: #ffffff; /* The color of your bottom border */
  position: absolute;
  bottom: 0; /* Aligns the pseudo-element to the bottom of the h1 */
  left: 0;
  right: 0;
}

/* SERVICES DEALS */
#serviceDeals .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 80px;
  
}

#serviceDeals .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
}

#serviceDeals .container .content .card {
  text-align: center;
  width: 30%;
  margin: 15px;
}

#serviceDeals .container .content .card h1 {
  font-size: 25px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  padding: 5px;
}

#serviceDeals .container .content .card p {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 5px;
  width: 100%;
}


@media (max-width: 868px) {


  #serviceHeader h1 {
    margin-bottom: 190px;
    width: 90%;
  }
}
