/* SERVICES HEADER */

#serviceHeader .container .content .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#serviceHeader img {
    width: 100%;
}

#serviceHeader h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 25px;
    position: absolute;
}

