* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

::selection {
  background: #375b57;
}

/* CONTACT ROW */

.contact-row .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ff6600;
  width: 100%;
  height: 60px;
  z-index: 5;
}

.contact-row .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  position: fixed;
}

.contact-row .container .content h3 {
  margin: 10px;
  padding: 10px;
}

.contact-row .container .content i {
  margin: 5px;
  padding: 5px;
}

/* NAVBAR */
.navbar {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 80px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #ff6600;
  top: 60px;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  align-items: center;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.navbar ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.23s;
  margin: -5px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a:hover {
  color: #2d2e32;
}

.icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  color: #2d2e32;
  transition: all 0.3s;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 800;
  margin-left: 70px;
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
    font-size: 27px;
  }

  .icon.hide {
    display: none;
  }

  .contact-row {
    display: none;
  }

  .navbar {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    left: -100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    background: #ff6600;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin: 10px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

/* HEADER */

#header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  width: 100%;
  height: 800px;
}

#header .container .content {
  color: white;
  width: 46%;
  margin: 200px 0 30px 110px;
  z-index: 1;
  position:static;
}

#header .container .content h1 {
  font-size: 48px;
  font-weight: 800;
  padding: 5px;
  margin: 5px;
  position: relative;
}

#header .container .content h1::after {
  content: ""; /* Add empty content */
  position: absolute; /* Set position to absolute */
  bottom: -4px; /* Position the pseudo-element at the bottom of the header */
  left: 8px; /* Position the pseudo-element at the left corner */
  width: 50px; /* Width of the pseudo-element */
  height: 2px; /* Height of the pseudo-element */
  background-color: white; /* Color of the line */
}


#header .container .content p {
  font-size: 24px;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  padding: 5px;
  margin: 50px 10px 10px 10px;
}

#header button {
  background-color: white;
  border: 1.5px solid white;
  padding: 15px;
  margin: 50px 10px 10px 10px;
  width: 200px;
  color:#ff6600;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

#header button:hover {
  color: #ffffff;
  background-color: #ff6600;
}

#header .container .image-container {
  width: 63%;
  z-index: 1;
  margin-top: 200px;

}

#header .container .image-container img {
  width: 800px;
  z-index: 1;
  position: relative;
}

/* SERVICES */

#services .container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

#services .content {
  display: flex;
  align-items: center;
  margin: 100px;
  flex-direction: column;
}

#services h1 {
  position: relative; /* Essential for positioning the pseudo-element */
  padding: 20px;
  font-weight: 800;
  font-size: 30px;
  color: #313131;
}

#services h1::after {
  content: "";
  display: block;
  margin: 0 auto; /* Centers the pseudo-element */
  width: 20%; /* Half the width of the h1 element */
  height: 2px; /* The thickness of your bottom border */
  background-color: #ff6600; /* The color of your bottom border */
  position: absolute;
  bottom: 0; /* Aligns the pseudo-element to the bottom of the h1 */
  left: 0;
  right: 0;
}


#services .advantage-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

#services .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 35%;
  padding: 10px;
}

#services .bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #EFEFEF;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#services i {
  font-size: 45px;
  color: #ff6600;
}

#services h3 {
  font-size: 25px;
  font-weight: 700;
  color: #333333;
  margin: 5px;
  width: 100%;
}

#services p {
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  margin: 10px;
  width: 100%;
  font-family: 'Mulish', sans-serif;
}

/* ABOUT */

#about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9E9E9;
}

#about .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

}

#about .content-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

#about button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 200px;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

#about button:hover {
  color: black;
  background-color: white;
}

#about h1 {
    position: relative; /* Essential for positioning the pseudo-element */
    padding: 20px;
    font-weight: 800;
    font-size: 30px;
    margin: 5px;
    color: #313131;
}

#about h1::after {
  content: "";
  display: block;
  margin: 0 auto; /* Centers the pseudo-element */
  width: 30%; /* Half the width of the h1 element */
  height: 2px; /* The thickness of your bottom border */
  background-color: #ff6600; /* The color of your bottom border */
  position: absolute;
  bottom: 0; /* Aligns the pseudo-element to the bottom of the h1 */
  left: 0.9;
  right: 0.9;
}

#about p {
    padding: 20px;
    font-weight: 500;
    font-size: 17px;
    margin: 5px;
    color: #313131;
    font-family: 'Mulish', sans-serif;
    width: 70%;
}

/* OFFERS/SERVICES */

#offers .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 600px;
  width: 100%;
}

#offers .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
}

#offers .cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#offers .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 312px;
  background-color: #E9E9E9;
}

#offers .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#offers .box {
  display: none;
  background-color: #e9e9e9aa;
  width: 312px;
  height: 312px;
  transition: all ease-in-out 0.5s;
  position: absolute;
  z-index: 2;
}

#offers .box:hover {
  display: block;
}

#offers img {
  width: 312px;
  height: 312px;
}

#offers h3 {
  position: absolute;
  color: #ff6600;
  font-size: 25px;
  font-weight: 800;
  z-index: 4;
}



#offers .image-container {
  display: block;
}


#offers h1 {
    position: relative; /* Essential for positioning the pseudo-element */
    padding: 20px;
    font-weight: 800;
    font-size: 30px;
    margin: 5px;
    color: #313131;
}

#offers h1::after {
  content: "";
  display: block;
  margin: 0 auto; /* Centers the pseudo-element */
  width: 20%; /* Half the width of the h1 element */
  height: 2px; /* The thickness of your bottom border */
  background-color: #ff6600; /* The color of your bottom border */
  position: absolute;
  bottom: 0; /* Aligns the pseudo-element to the bottom of the h1 */
  left: 0;
  right: 0;
}

#offers button {
  background-color: #ff6600;
  border: 1.5px solid #ff6600;
  padding: 15px;
  margin: 15px;
  width: 200px;
  color: white;
  border-radius: 50px;
  font-size: 17px;
  transition: all ease-in-out 0.5s;
}

#offers button:hover {
  color: black;
  background-color: white;
}

