/* QUOTE */


#quote .container {
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 520px;
    height: auto;
    background: rgba(0, 0, 0, 0.5); /* Add a background overlay */
  }
  
  #quote .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  
  #quote img {
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -2;
  }
  
  
  /* ----------------- FORM IN THE QUOTE AREA -------------- */
  .form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 100px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Simple box shadow */
  }
  
  form input {
    margin: 20px;
    border: none;
    border-bottom: 1px solid #2e2e2e; /* Add a 2px solid border on the bottom */
    width: 80%;
    font-size: 17px;
    outline: none;
  }
  
  form button {
    background-color: #ff6600;
    border: 1.5px solid #ff6600;
    padding: 15px;
    margin: 50px;
    width: 200px;
    color: white;
    font-size: 17px;
    transition: all ease-in-out 0.5s;
    width: 70%;
  }
  
  form button:hover {
    color: black;
    background-color: white;
  }
  
  form h1 {
    position: relative; /* Essential for positioning the pseudo-element */
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
    margin: 5px;
    color: #313131;
    font-family: 'Poppins', sans-serif;
  }
  
  /* SLIDER REIEWS IN THE QUOTE AREA */
  
  #quote .reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .wrapper {
    position: relative;
    width: 80%;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.5s ease-in-out; /* Add transition for container */
    z-index: 10;
  }
  
  .wrapper i {
    font-size: 25px;
    color: #ffffff;
  }
  
  .testimonial-container {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 1.8em 1.2em;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add transitions */
  }
  
  .wrapper button {
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #dedede;
    background: none;
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
    transition: all ease-in-out 0.5s, display 0s 0.5s; /* Delaying display transition */
  }
  
  button#next {
    right: -2.5em;
  }
  
  button#prev {
    left: -2.5em;
  }
  
  .wrapper:hover button#prev {
    transform: translateX(1.2em);
    opacity: 1;
  }
  
  .wrapper:hover button#next {
    transform: translateX(-1.2em);
    opacity: 1;
  }
  
  .testimonial-container p {
    color: #ffffff;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  
  .slide-up {
    opacity: 1;
    animation: moveup 0.9s linear forwards;
  }
  
  .testimonial-container h3 {
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
  }
  
  .testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
  }
  
  @media screen and (max-width: 650px) {
    .wrapper {
      font-size: 14px;
    }
  }
  
  @keyframes moveup {
    0% {
      margin-top: 20%;
      opacity: 0;
    }
    100% {
      margin-top: 10%;
      opacity: 1;
    }
  }
  